.terminal {
  max-height: calc(100vh - 160px);
  margin-bottom: 20px;
  overflow-y: scroll;
}

.terminal::-webkit-scrollbar {
  width: 0 !important;
}

.terminal {
  overflow: -moz-scrollbars-none;
}

.terminal {
  -ms-overflow-style: none;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking {
  animation: blink 1s infinite;
}
